*.swp
*~
genqueries/*
gendata/*
work/*
log/
*.o
dsdgen
dsqgen
bin/**
src/toolkit/*
spark-warehouse/
metastore_db/
derby.log
tpcds32/gen_data/
tpcds32/gen_queries/
tpcds32/ddl/spark/
tpcds32/output/
tpcds32/query_variants_local_work/
tpcds32/query_tmp/
